---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/contacts"
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"mikael@mhenrixon.com","firstName":"Mikael","lastName":"Henriksson","phone":"+491735728523"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"mikael@mhenrixon.com","phone":"+491735728523","firstName":"Mikael","lastName":"Henriksson","email_empty":false,"cdate":"2021-03-10T13:29:42-06:00","udate":"2021-03-10T13:29:42-06:00","orgid":"","orgname":"","accountContacts":[],"links":{"bounceLogs":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/bounceLogs","contactAutomations":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactData","contactGoals":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactGoals","contactLists":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactLists","contactLogs":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactLogs","contactTags":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactTags","contactDeals":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactDeals","deals":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/deals","fieldValues":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/fieldValues","geoIps":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/geoIps","notes":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/notes","organization":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/organization","plusAppend":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/plusAppend","trackingLogs":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/trackingLogs","scoreValues":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/scoreValues","automationEntryCounts":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/automationEntryCounts"},"hash":"45ad71261e9d4f250da7cae121ce059c","id":"5","organization":""}}'
  recorded_at: Wed, 10 Mar 2021 19:29:42 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/lists"
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https://mhenrixon.com","sender_reminder":"This
        is why we are sending you this"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"name":"Awesome List","stringid":"awesome-list","sender_url":"https:\/\/mhenrixon.com","sender_reminder":"This
        is why we are sending you this","cdate":"2021-03-10T13:29:42-06:00","udate":"2021-03-10T13:29:42-06:00","links":{"contactGoalLists":"https:\/\/inveniobr.api-us1.com\/api\/3\/lists\/4\/contactGoalLists","user":"https:\/\/inveniobr.api-us1.com\/api\/3\/lists\/4\/user","addressLists":"https:\/\/inveniobr.api-us1.com\/api\/3\/lists\/4\/addressLists"},"id":"4"}}'
  recorded_at: Wed, 10 Mar 2021 19:29:43 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/contactLists"
    body:
      encoding: UTF-8
      string: '{"contactList":{"contact":"5","list":"4"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contacts":[{"cdate":"2021-03-10T13:29:42-06:00","email":"mikael@mhenrixon.com","phone":"+491735728523","firstName":"Mikael","lastName":"Henriksson","orgid":"0","orgname":"","segmentio_id":"","bounced_hard":"0","bounced_soft":"0","bounced_date":null,"ip":"0","ua":null,"hash":"45ad71261e9d4f250da7cae121ce059c","socialdata_lastcheck":null,"email_local":"","email_domain":"","sentcnt":"0","rating_tstamp":null,"gravatar":"0","deleted":"0","anonymized":"0","adate":null,"udate":"2021-03-10T13:29:42-06:00","edate":null,"deleted_at":null,"created_utc_timestamp":"2021-03-10
        13:29:42","updated_utc_timestamp":"2021-03-10 13:29:42","created_timestamp":"2021-03-10
        13:29:42","updated_timestamp":"2021-03-10 13:29:42","created_by":null,"updated_by":null,"email_empty":false,"accountContacts":[],"links":{"bounceLogs":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/bounceLogs","contactAutomations":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactAutomations?limit=1000&orders%5Blastdate%5D=DESC","contactData":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactData","contactGoals":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\/5\/contactGoals","contactLists":"https:\/\/inveniobr.api-us1.com\/api\/3\/contacts\[...]
- request:
    method: delete
    uri: "<API_ENDPOINT>/lists/4"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 10 Mar 2021 19:29:44 GMT
[...]
- request:
    method: delete
    uri: "<API_ENDPOINT>/contacts/5"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"No Result found for Subscriber with id 5"}'
  recorded_at: Wed, 10 Mar 2021 19:29:45 GMT
recorded_with: VCR 6.0.0
