---
http_interactions:
- request:
    method: get
    uri: "<API_ENDPOINT>/?api_action=list_view&api_key=<API_KEY>&api_output=json&id=1"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Location:
      - http://zoolutions.activehosted.com
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 11 Aug 2016 07:54:08 GMT
- request:
    method: get
    uri: "<API_ENDPOINT>?api_action=list_view&api_key=<API_KEY>&api_output=json&id=1"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"1","stringid":"swedish-players","userid":"1","name":"Swedish
        Players","cdate":"2016-08-11 10:02:18","p_use_tracking":"1","p_use_analytics_read":"0","p_use_analytics_link":"0","p_use_twitter":"0","p_use_facebook":"0","p_embed_image":"1","p_use_captcha":"1","send_last_broadcast":"0","private":"0","analytics_domains":null,"analytics_source":"","analytics_ua":"","twitter_token":"","twitter_token_secret":"","facebook_session":"","carboncopy":"mikael@zoolutions.se","subscription_notify":"mikael@zoolutions.se","unsubscription_notify":"mikael@zoolutions.se","require_name":"0","get_unsubscribe_reason":"0","to_name":"Subscriber","optinoptout":"1","sender_name":"Zoolutions%20AB","sender_addr1":"%C3%96sterv%C3%A5ngsplan%2015","sender_addr2":"","sender_city":"Landskrona","sender_state":"","sender_zip":"26144","sender_country":"SE","sender_phone":"","sender_url":"","sender_reminder":"","fulladdress":"Zoolutions%20AB,
        %C3%96sterv%C3%A5ngsplan%2015, Landskrona 26144, Sweden","optinmessageid":"0","optoutconf":"0","deletestamp":null,"listid":"1","p_admin":"1","p_list_add":"1","p_list_edit":"1","p_list_delete":"1","p_list_sync":"1","p_list_filter":"1","p_message_add":"1","p_message_edit":"1","p_message_delete":"1","p_message_send":"1","p_subscriber_add":"1","p_subscriber_edit":"1","p_subscriber_delete":"1","p_subscriber_import":"1","p_subscriber_approve":"1","luserid":"1","subscribers":"1","subscribers_active":"1","fields":[],"groups":{"3":{"id":"3","title":"Admin","descript":"This
        is a group for admin users (people that can manage content)","unsubscribelink":"0","optinconfirm":"0","p_admin":"1","pg_list_add":"1","pg_list_edit":"1","pg_list_delete":"1","pg_list_headers":"1","pg_list_emailaccount":"1","pg_list_bounce":"1","pg_message_add":"1","pg_message_edit":"1","pg_message_delete":"1","pg_message_send":"1","pg_subscriber_add":"1","pg_subscriber_edit":"1","pg_subscriber_delete":"1","pg_subscriber_import":"1","pg_subscriber_approve":"1","pg_subscriber_export":"1","pg_subscriber_sync":"1","pg_subscriber_filters":"1","pg_subscriber_actions":"0","pg_subscriber_fields":"1","pg_user_add":"1","pg_user_edit":"1","pg_user_delete":"1","pg_group_add":"1","pg_group_edit":"1","pg_group_delete":"1","pg_template_add":"1","pg_template_edit":"1","pg_template_delete":"1","pg_personalization_add":"1","pg_personalization_edit":"1","pg_personalization_delete":"1","pg_form_edit":"1","pg_reports_campaign":"1","pg_reports_list":"1","pg_reports_user":"1","pg_reports_trend":"1","pg_startup_reports":"1","pg_startup_gettingstarted":"1","sdate":"2016-08-10
        20:15:54","req_approval":"0","req_approval_1st":"2","req_approval_notify":"","socialdata":"0","listid":"1","groupid":"3","p_list_add":"0","p_list_edit":"0","p_list_delete":"0","p_list_sync":"1","p_list_filter":"1","p_message_add":"1","p_message_edit":"1","p_message_delete":"1","p_message_send":"1","p_subscriber_add":"1","p_subscriber_edit":"1","p_subscriber_delete":"1","p_subscriber_import":"1","p_subscriber_approve":"1"},"1":{"id":"1","title":"Visitor","descript":"This
        is a group for site visitors (people that are not logged in)","unsubscribelink":"0","optinconfirm":"0","p_admin":"0","pg_list_add":"0"[...]
