---
http_interactions:
- request:
    method: post
    uri: "<API_ENDPOINT>/accounts"
    body:
      encoding: UTF-8
      string: '{"account":{"name":"Mikael","accountUrl":"https://www.mhenrixon.com/"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"account":{"name":"Mikael","accountUrl":"https:\/\/www.mhenrixon.com\/","createdTimestamp":"2020-01-30T12:41:26-06:00","updatedTimestamp":"2020-01-30T12:41:26-06:00","links":{"notes":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accounts\/46\/notes","accountCustomFieldData":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accounts\/46\/accountCustomFieldData","accountContacts":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accounts\/46\/accountContacts","emailActivities":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accounts\/46\/emailActivities","contactEmails":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accounts\/46\/contactEmails"},"id":"46"}}'
  recorded_at: Thu, 30 Jan 2020 18:41:26 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/contacts"
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"mikael@mhenrixon.com","firstName":"Mikael","lastName":"Henriksson","phone":"+491735728523"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"contact":{"email":"mikael@mhenrixon.com","phone":"+491735728523","firstName":"Mikael","lastName":"Henriksson","cdate":"2020-01-30T12:41:26-06:00","udate":"2020-01-30T12:41:26-06:00","orgid":"","orgname":"","links":{"bounceLogs":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/bounceLogs","contactAutomations":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactAutomations","contactData":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactData","contactGoals":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactGoals","contactLists":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactLists","contactLogs":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactLogs","contactTags":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactTags","contactDeals":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/contactDeals","deals":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/deals","fieldValues":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/fieldValues","geoIps":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/geoIps","notes":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/notes","organization":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/organization","plusAppend":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/plusAppend","trackingLogs":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/trackingLogs","scoreValues":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/scoreValues","accountContacts":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/accountContacts","automationEntryCounts":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/contacts\/44\/automationEntryCounts"},"id":"44","organization":""}}'
  recorded_at: Thu, 30 Jan 2020 18:41:27 GMT
- request:
    method: post
    uri: "<API_ENDPOINT>/accountContacts"
    body:
      encoding: UTF-8
      string: '{"accountContact":{"contact":"44","account":"46","jobTitle":"Señor
        Developer"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"accountContact":{"contact":"44","account":"46","jobTitle":"Se\u00f1or
        Developer","createdTimestamp":"2020-01-30T12:41:28-06:00","updatedTimestamp":"2020-01-30T12:41:28-06:00","links":{"account":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accountContacts\/8\/account","contact":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accountContacts\/8\/contact"},"id":"8"}}'
  recorded_at: Thu, 30 Jan 2020 18:41:28 GMT
- request:
    method: put
    uri: "<API_ENDPOINT>/accountContacts/8"
    body:
      encoding: UTF-8
      string: '{"accountContact":{"contact":"44","account":"46","jobTitle":"Mr. Robot"}}'
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"accountContact":{"account":"46","contact":"44","jobTitle":"Mr. Robot","createdTimestamp":"2020-01-30T12:41:28-06:00","updatedTimestamp":"2020-01-30T12:41:29-06:00","links":{"account":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accountContacts\/8\/account","contact":"https:\/\/mhenrixonconsulting1570091019.api-us1.com\/api\/3\/accountContacts\/8\/contact"},"id":"8"}}'
  recorded_at: Thu, 30 Jan 2020 18:41:29 GMT
[...]
- request:
    method: delete
    uri: "<API_ENDPOINT>/contacts/44"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 30 Jan 2020 18:41:30 GMT
- request:
    method: delete
    uri: "<API_ENDPOINT>/accounts/46"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Token:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 30 Jan 2020 18:41:31 GMT
recorded_with: VCR 5.0.0
